.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin: 2rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin: 3rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #999;
  }
  
  .pp {
    margin: 0;
    padding: 2rem 0;
    font-size: 18px;
    color: grey;
  }

  @font-face {
    font-family: Recoleta;
    weight: 500;
    src: url('/assets/Recoleta-Medium.eot');
    src:
        url('/assets/Recoleta-Medium.woff') format('woff'), 
        url('/assets/Recoleta-Medium.woff2') format('woff2'),
        url('/assets/Recoleta-Medium.ttf') format('truetype'),
  }

  @font-face {
    font-family: Recoleta;
    weight: normal;
    src: url('/assets/Recoleta-Regular.eot');
    src:
        url('/assets/Recoleta-Regular.woff') format('woff'), 
        url('/assets/Recoleta-Regular.woff2') format('woff2'),
        url('/assets/Recoleta-Regular.ttf') format('truetype'),
  }

  @font-face {
    font-family: Recoleta;
    weight: 600;
    src: url('/assets/Recoleta-SemiBold.eot');
    src:
        url('/assets/Recoleta-SemiBold.woff') format('woff'), 
        url('/assets/Recoleta-SemiBold.woff2') format('woff2'),
        url('/assets/Recoleta-SemiBold.ttf') format('truetype'),
  }


  
  